* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.logo {
    width: 55px;
    background-color: #ffffff00;
}

.navi {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    gap: 3px;
}

.not {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #1C1C1C;
    gap: 2px;
}

.linkn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6c00;
}

/*----------------------------------------------------------------*/
aside {
    width: 70px;
    background: #1C1C1C;
    border-radius: 0 25px 25px 0;
    position: fixed;
    top: 70px;
    height: calc(100vh - 70px);
    padding: 2px 0;
}

aside.open {
    width: 220px;
    border-radius: 0 5px 5px 0;
}

.asid {
    padding: 0;
    padding-left: 10px;
}

.asid span {
    display: none;
}

aside.open .asid span {
    display: inline;
    color: #ffffff;
}

.asid li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    height: 60px;
    border-radius: 60% 0 0 60%;
    color: #FF6C00;
}

aside.open .asid li {
    justify-content: flex-start;
    padding-left: 20px;
    gap: 12px;
    border-radius: 30px 0 0 30px;
}

.asid li:hover span{
    color:#1C1C1C;
}

.asid li:hover {
    background-color: white;
    color: #1C1C1C;
}

.asid li:hover i {
    color: #FF6C00;
}

.asid i {
    color: white;
}

/*----------------------------------------------------------------*/

main{
    margin-top: 70px;
    margin-left: 70px;
    padding: 20px;
    height: calc(100vh - 70px);
}

.main-content{
    background: #EAEAEA;
    border-radius: 20px;
    height: 100%;
}